@tailwind base;
@tailwind components;
@tailwind utilities;

h1
{
    font-size: 1.5rem;
    font-weight: bold;
}

p
{
    line-break: strict;
}

.background_transition, .background_transition_maintain
{
    transition: 0.2s;

    background: linear-gradient(0.25turn, #b2b2ff 50%, #ffffff00 50%);
    background-size: 200%;
    background-position: right;

    border: #b2b2ff 2px solid;
}

.background_transition_image:hover ,  .background_transition_maintain_image:focus 
{
    filter: invert(1);
}
.background_transition:hover::placeholder, .background_transition_maintain:focus::placeholder
{
    color: rgba(255, 255, 255, 0.87);
}
.background_transition:hover, .background_transition_maintain:focus 
{
    background-position: left;
    color: white;
    transition: 0.3s;
}

.border_left_none
{
    border-left: none;
}