.NavBar
{
    display: flex;
    width: 98%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin: 0 1vw;
    /* background-color: rgb(243, 243, 243); */
    border-bottom: 2px solid #b2b2ff;
}
